<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="widht-device-widht, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=chrome">
    <title>Gerador de Guild Card</title>
</head>
<body>
    <form method="post" action="/">
        <form method="post" action="/">
            <input type="checkbox" value="1" name="road">ROAD 100 |
            <input type="checkbox" value="2" name="caravan">MAX Caravan Sphere |
            <input type="checkbox" value="3" name="elzellion">Elzellion |
            <input type="checkbox" value="4" name="boga">Boga
            <input type="submit" value="Gerar Guild Card">
        </form>
        <form method="post" action="/">
            <input type="checkbox" value="5" name="disufiora">Disufiora |
            <input type="checkbox" value="6" name="guardiao">Guardião |
            <input type="checkbox" value="7" name="gwan">Gwanzorm |
            <input type="checkbox" value="8" name="rajvol">Rajang+Voljang
        </form>
         <form method="post" action="/">
            <input type="checkbox" value="9" name="pari">Pariapuria |
            <input type="checkbox" value="10" name="unknow">Unknow |
            <input type="checkbox" value="11" name="zeru">Zerureuso |
            <input type="checkbox" value="12" name="rajang">2Rajang
        </form>
        <form method="post" action="/">
            <input type="checkbox" value="13" name="narga">Nargacuga |
            <input type="checkbox" value="14" name="deviljho">Deviljho |
            <input type="checkbox" value="15" name="miru">Miru |
            <input type="checkbox" value="16" name="jinouga">Jinouga
        </form>

    </form>

</body>
</html>
